*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    width: 100VW;
    height: 100vh;
    background-color: #000;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center top;
    overflow: auto;
    padding-top: -96px;
}

a, a:visited
{
    color: #FFF;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1
{
    font-family: "Bellefair";
    font-style: "Regular";
    font-size: 150px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

h2
{
    font-family: "Bellefair";
    font-style: "Regular";
    font-size: 100px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

h3
{
    font-family: "Bellefair";
    font-style: "Regular";
    font-size: 56px;
    font-weight: 300;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

h4
{
    font-family: "Bellefair";
    font-style: "Regular";
    font-size: 32px;
    font-weight: 300;
    color: #FFF;
    padding: 0;
    margin: 0;
}

h5
{
    font-family: "Barlow Condensed";
    font-style: "Regular";
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 4.75px;
    color: #D0D6F9;   
    padding: 0;
    margin: 0;
}

.subheading-1
{
    font-family: "Bellefair";
    font-style: "Regular";
    font-size: 28px;
    color: #FFF; 
}

.subheading-2
{
    font-family: "Barlow Condensed";
    font-style: "Regular";
    font-size: 14px;
    letter-spacing: 2.7px;
    color: #FFF;
}

p
{
    font-family: "Barlow Condensed";
    font-style: "Regular";
    font-size: 18px;
    line-height: 32pt;
    color: #D0D6F9;
}

.subheading-3
{
    font-family: "Barlow Condensed";
    font-style: "Regular";
    font-size: 16px;
    letter-spacing: 2.35px;
    color: #FFF;  
}



.txt-medium-gray 
{
    color: rgba(255, 255, 255, .5);
}

.barlow-bold
{
    font-family: "Barlow Condensed";
    font-weight: 500;
}

/* Menu navigation styles */
.header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 5%;
}

.line
{
    height: 1px;
    width: 30%;
    content:'';
    background-color: rgba(255, 255, 255, .3);
    position: relative;
    left: 6%;
    z-index: 10;    
}

.desktop-menu
{
    width: 60%;
    height: 96px;
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(25px);
    padding: 0;
    margin: 0;
    position: relative;
}

.desktop-menu ul
{
    justify-content: space-around;
    padding: 0;
    margin-left: 5%;
    margin-top: 0;
    width: 80%;
}

.desktop-nav
{
    list-style-type: none;
    display: flex;
}

.desktop-nav li
{
    position: relative;
    height: 96px;
    padding: 0;
    margin: 0;
    font-family: "Barlow Condensed";
    font-weight: 300;
    letter-spacing: 4.75px;
    align-content: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.nav-numbers
{
    font-family: "Barlow Condensed";
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
    align-items: center;
    margin-right: 5px;
}

.hamburger-menu, .mobile-menu
{
    display: none;
}

/* Home Page Styles */

.home-page-container
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 75%;
    margin-top: 96px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: calc(90vh - 96px);
}

.home-info-left
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    height: 75%;
}

.home-info-left p
{
    width: 75%
}

.home-button-right
{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end
}

.explore-button
{
    width: 274px;
    height: 274px;
    border-radius: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.explore-button h4
{
    color: #0B0D17;
    font-weight: 500;
}


.mobile-container
{
    position: relative;
}

/* menu styling for active and hover */
.desktop-nav li::after
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: -1;
    content: '';
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    transform: scale(0, 1);
    transition: all 250ms ease;
}



.nav-item.active, .dest-nav-item.active-dest
{
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
/* crew, technology and destination styles */
.page-body
{
    /* position: relative; */
    /* top: calc(96px + 10%); */
    margin-top: 96px;
}



/* hide landscape image for desktop */
    #landscapeImg
    {
        display: none;
    }

    #landscapeCrewImgContainer
    {
        display: flex;
    }

.page-caption
{
    position: relative;
    left: 10%;
}


.page-info-container
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - 180px);
    margin-left: 10%;
    margin-top: 25px;
}

.tech-nav
{
    padding-top: calc((100vh - 220px) * .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 5%;
}

.tech-nav-item
{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-bottom: 30px;
    color: #FFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}



.active-tech
{
    background-color: #FFF;
    color: #0B0D17;
}

.page-info
{
    padding-top: calc((100vh - 220px) * .2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}

.page-info-box
{
    padding-left: 10%;
}

.page-info-box p
{
    line-height: 25px;
    font-size: 15px;
    width: 55%;
    text-align: justify;
}

.crew-desc
{
    width: 60%;
}

.crew-nav
{
    display: flex;
    justify-content: space-between;
}

#crewNavSm
{
    display: none;
}

.nav-dot
{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .25);
    margin-right: 15px;
    cursor: pointer;
}



.active-nav-dot

{
    background: rgba(255, 255, 255, 1);
}

.img-container
{
    text-align: right;
    order: 1;
}

.crew-img-container
{
    align-items: center;
    transform: translateX(-25%);
}

.crew-nav
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 25%;
    margin: 5% 0;
}

#destNav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.dest-nav ul
{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 5% 0;
    padding: 0;
}

.dest-nav ul li
{
    position: relative;
    height: 30px;
    margin-right: 10%;
    border-bottom: 2px solid transparent;
}   

.dest-nav ul li::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 28px;
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    transform: scale(0, 1);    
    transition: all 250ms ease;

}

.dest-nav-item
{
    font-family: "Barlow Condensed";
    font-style: "Regular";
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 4.75px;
    color: #D0D6F9;   
    padding: 0;
    margin: 0;
    margin-right: 3%;
}

.dest-page-info
{
    margin-top: -5%;
}

.dest-img-container
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
}
.dest-img-container img
{
    width: 75%;
    height: auto;
}

#facts
{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    width: 75%;
    padding: 2% 0;
}

.distance-section, .travel-section
{
    width: 50%;
    padding: 2px 0;
}

.distance-caption, .travel-caption
{
    font-size: 14px;
    font-family: "Barlow Condensed";
    font-style: "Regular";
    font-weight: 200;
    letter-spacing: 2.35px;
    color: #D0D6F9;
}

.distance-info, .travel-info
{
    font-family: "Bellefair";
    font-style: "Regular";
    font-weight: 300;
    font-size: 28px;
    color: #FFF;    
}

#mobileNav
{
    display: none;
}


/* slide destination to left and right */



@media only screen and (max-width: 1200px)

{

    .home-page-container
    {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 96px 0 0 0;
    }

    .home-info-left
    {
        justify-content: flex-start;
        align-items: center;
        order: 1;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .home-info-left p
    {
        text-align: center;
    }

    .home-button-right
    {
        justify-content: center;
        align-items: flex-start;
        order: 2;
    }

    .mobile-menu, #crewNav
    {
        display: none;  
    }

    /* hide numbers in menu, horizontal line in header, and desktop image */
    #portraitImg, .nav-numbers, .line
    {
        display: none;
    }

    .desktop-menu ul
    {
        justify-content: space-between;
    }

    .desktop-nav li
    {
        
        font-size: 14px;
        margin-right: 26px;
    }
    
    #pageBody
    {
        display: flex;
        flex-direction: column;
    }

    #pageCaption
    {
        order: 1;
        padding-left: 5%;
        left: 0;
    }

    #pageInfoContainer
    {
        order: 2;
        flex-direction: column;
        margin: 20px 0;
    }

        #imgContainer
        {
            width: 100%;
        
        }

        #landscapeImg
        {
            order: 1;
            display: flex;
            width: 100%;
            height: auto;
        }


        #techNav
        {
            order: 2;
            flex-direction: row;
            width: 50%;
            height: 100px;
            justify-content: space-around;
            align-items: center;
            margin: 0 auto;
            padding: 10% 0;
            
        }
            #techNav1
            {
                order: 1;
            }
           
            #techNav2
            {
                order: 2;
            }

            #techNav3
            {
                order: 3;
            }
    
    #pageInfo
    {
        padding: 0;
        margin: 0 auto;
        order: 2;
        width: 80%;
        display: block;
        text-align: center;
    }

    .page-info-box
    {
        margin: 0;
        padding: 0;
        order: 2;
    }

    .page-info-box p
    {
        margin: 0 auto;
        padding: 0; 
        text-align: center;
        width: 85%;
    }

    .nav-dot
    {
        width: 8px;
        height: 8px;
        margin-right: 8px;
        border-radius: 100%;
        background: rgba(255, 255, 255, .25);
    }

    .active-nav-dot
    {
        background: rgba(255, 255, 255, 1);
    }

    #portraitImgContainer img
    {
        width: 60%;
        height: auto;
        margin: 5% auto;
    }

    .crew-img-container
    {
        transform: translateX(2.2%);
        order: 1;
    }

    #crewNavSm
    {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin: 5% auto;
        width: 20%;
        order: 2;
    }

        #crewNavSm1
        {
            order: 1;
        }

        #crewNavSm2
        {
            order: 2;
        }

        #crewNavSm3
        {
            order: 3;
        }

        #crewNavSm4
        {
            order: 4;
        }
    
    #role
    {
        order: 3;
    }

    #name
    {
        order: 4;
    }

    #desc
    {
        order: 5;
    }

    .crew-img
    {
        width: 60%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .dest-img-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        width: 100%;
    }

    .dest-img-container img
    {
        width: 50%;
        height: auto;
    }


    #destNav
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .dest-nav ul
    {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 5% auto;
        padding: 0;
        width: 90%;
    }

    #facts
    {
        display: flex;
        justify-items: space-around;
        align-items: center;
        width:100%;
        padding: 10% 0;
    }

    .dest-nav ul li:last-child
    {
        margin-right: 0;
    }
}

@media only screen and ((max-width: 768px))
{

    .home-page-container
    {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 120px 0 0 0;
    }

    .home-info-left
    {
        justify-content: flex-start;
        align-items: center;
        order: 1;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .home-info-left p
    {
        text-align: center;
    }

    .home-button-right
    {
        justify-content: center;
        align-items: flex-start;
        order: 2;
    }

    .explore-button
    {
        width: 180px;
        height: 180px;
    }

    .desktop-menu
    {
        display: none;
    }

    .hamburger-menu
    {
        display: block;
        margin-right: 5%;
        position: relative;
        z-index: 99999;
    }

    h1
    {
        font-size: 100px;
    }

    h2
    {
        font-size: 75px;
    }

    h3
    {
        font-size: 28px;
        padding: 2.5% 0;
    }

    h4
    {
        font-size: 22px;
    }

    h5
    {
        font-size: 16pt;    
    }

    #pageCaption
    {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .tech-nav-item
    {
        width: 50px;
        height: 50px;
    }

    #pageInfo
    {
        padding: 0;
        margin: 0 auto;
        order: 3;
        width: 100%;
        display: block;
        text-align: center;
    }

    /* mobile menu */

    #mobileNav
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 100vh;
        background: rgba(255, 255, 255. .3);
        backdrop-filter: blur(25PX);
        list-style-type: none;
        margin: 0;
        padding-top: 15%;
        overflow: hidden;
        transition: all 250ms ease;
    }

    #mobileNav.active-mobile-nav
    {
        width: 80vw;
        height: 100vh;

    }

    #mobileNav ul
    {
        list-style: none;
        width: 100%;
    }

    #mobileNav li
    {
        margin-bottom: 25px;
        font-family: "Barlow Condensed";
        font-style: "Regular";
        font-size: 22pt;
        letter-spacing: 4.35px;
        width: 100%;
        padding: 2% 0;
    }

    .active-mobile
    {
        border-right: 3px solid #FFF;
    }
    
    .mobile-nav-icon
    {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 36pt;
        font-weight: 600;
        color: #FFF;
    }

    .hidden
    {
        visibility: hidden;
    }

}

@media (hover)
{
    
    .nav-dot:hover
    {
        background: rgba(255, 255, 255, .5);
    }

    a:hover
    {
        color: #FFF;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }

    .tech-nav-item:hover
    {
        border: 2px solid rgba(255, 255, 255, .5);
    }

    .desktop-nav li:hover::after
    {
        width: 100%;
        height: 96px;
        transform: scale(1, 1);
    }

    .dest-nav li:hover::after
    {
        width: 100%;
        height: 28px;
        transform: scale(1, 1);
      
    }

    .explore-button:hover
    {
        outline: 60px solid rgba(255, 255, 255, .1036);
    }
    
}


